a{
    text-decoration: none;
}

.BG{
    background-color: #282828;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.Landing{
    width: 80%;
    background-color: #ff00ae;
    position: relative;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.Landing h1{
    color: black;
    font-size: 50px;
}
.Landing p{
    color: #464646
}
.Landing a{
    color: black
}

.Grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.Link{
    text-align: center;
    font-size: 10px;
    text-decoration: none;
}

.Project{
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #464646;
    border: 2px solid black;
    border-radius: 15px;
    width: auto;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.Project:hover{
    background-color: #555555;
}

.AboutMe{
    text-align: center;
}
.AboutMe h1{
    color: white;
}
.AboutMe p{
    width: 75%;
    padding-left: 12.5%;
    color: rgb(204, 204, 204);
}

.ProjectInfo{
    text-align: center;
    color: white;
}